/* body {
  margin: 0 auto;
  background-color: #4FC1C2;
}

.container {
  margin-top: 123px;
  margin-left:260px;
  width: 944.7px;
  height: 475.2px;
  position: relative;
  display: inline-block;
}

.showMe {
  position: absolute;
  margin-left: 0px;
  margin-top: 100px;
  height: 255px;
  width: 255px;
  background-color: white;
  border-radius: 50%;
}

p {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  color: #4FC1C2;
  font-size: 26px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 115px;
  font-weight: 400;
}

.dotLine {
  border:none;
  border-top: 2px dashed white;
  height:1px;
  width:323px;
  margin-top: 235px;
  margin-left: 322px;
}

img{
  width: 430px;
  height: auto;
}

.coffeeImg {
  margin-left: 590px;
  margin-top: -220px;
} */

body {
  margin: 0 auto;
  background-color: #4FC1C2;
}

.container{
  position: relative;
  width: 81.84vw;
  height: 70.36vh;
  /* background-color: red; */
  margin: 0 auto;
  margin-top: 14.68vh;
}

.buttonPosition{
  left: 6%;
  position: absolute;
  margin-top: 5.4vw;
  width: 22.28%;
  max-width: 100%;
  max-height: 100%;
  }

.buttonBox{
  position: relative;
  height: 0;
  padding-bottom: 100%;
}

.button {
  position: absolute;
  /* transition: transform .2s; */
  transition: all .3s ease;

  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 50%;
}


.button:hover {
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1.08);
}


.gray {
  background-color: #D7EBEE;
}

p {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  color: #4FC1C2;
  font-size: 2vw;
  text-transform: uppercase;
  text-align: center;
  margin-top: 46%;
  font-weight: 400;
}

.dotLine {
  position: absolute;
  left: 34%;
  border:none;
  border-top: 2px dashed white;
  height:1px;
  width:25vw;
  margin-top: 14.9vw;

}

img{
  position: absolute;
  right: 0;
  width: 40%;
  height: auto;
}

.coffee1 {
  display: none;
}

.coffee2 {
  display: none;
}

.coffee3 {
  width: 30%;
  height: auto;
  top: -8vw;
  right: 3%;
  display: none;
}

.coffee4 {
  width: 22%;
  height: auto;
  top: -4vw;
  right: 6.6%;
  display: none;
}

.coffee5{
  width: 26%;
  height: auto;
  right: 6%;
  display: none;
}

.coffee6{
  width: 32%;
  height: auto;
  top: -2vw;
  display: none;
}

.coffee7 {
  top: 1vw;
  display: none;
}

.coffee8{
  width: 43%;
  right: -1vw;
  display: none;
}

.coffee9{
  top: 2vw;
  width: 24%;
  right: 7%;
  display: none;
}
