/* 1440px version */
body {
  margin: 0px;
}

main {
  width: 1299.441px;
  margin: 43px auto;
}

.logo {
  width: 139.468px;
  height: auto;
}
.menuLine {
  margin-top: 23px;
  border-top: 1px solid #2e2e2e;
}

.header {
  width: 1284.83px;
  margin: 0 auto;
  margin-top: 400px;
  /* margin-left: 15px; */
  position: relative;
}

.title {
  width: 875px;
  position: absolute;
  top: -11.5%;
  left: -6%;
  transform: translate(19%, -50%);
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 94.7px;
  line-height: 100px;
  color: #2e2e2e;
}

.authorDate {
  margin-left: 331px;
  margin-top: 95px;
  font-family: 'Work Sans', sans-serif;
  font-size: 19px;
  color: #2e2e2e;
}

.pull {
  margin-left: 331px;
  margin-top: 106.4px;
  font-size: 34px;
  width: 590px;
  font-family: 'Playfair Display', serif;
  color: #2e2e2e;
}

.introtext {
  margin: 0 auto;
  margin-top: 139px;
  width: 638px;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  line-height: 27px;
  color: #464547;
}

.introtext p {
  margin-bottom: 40px;
}

.bodytext {
  margin: 0 auto;
  width: 638px;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  line-height: 27px;
  color: #464547;
}

.dropcap {
  font-family: 'Playfair Display', serif;
  color: #2e2e2e;
  float: left;
  font-size: 130px;
  line-height: 90px;
  padding-top: -1px;
  padding-left: 3px;
  padding-right: 8px;
}

.bodytext p {
  margin-bottom: 40px;
}

 a {
  color: #4eaaaa;
    text-decoration: none;
    background-image: linear-gradient(#f1bdba, #f1bdba);
    background-position: 0% 104%;
    background-repeat: no-repeat;
    background-size: 0% 3px;
    transition: background-size .3s;
}

a:hover, a:focus {
    background-size: 100% 3px;
}

.pullquote {
  margin: 0;
  margin-top: 108px;
  margin-bottom: 80px;
}

.quotation {
  font-family: 'Playfair Display', serif;
  color: #f1bdba;
  font-weight: bold;
  font-size: 284px;
  margin-left: 246px;
  margin-top: -150px;
}

.quote {
  margin: 0 auto;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 51.7px;
  line-height: 70px;
  width: 727.373px;
  color: #2e2e2e;
  margin-top: -253px;
  /* margin-bottom: 108px; */ */
}

.image1 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:40px;
  width: 40%;
}

.image2 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-bottom: 40px;
}

.authorFooter {
  width: 482px;
  margin: auto;
  margin-top: 206px;
  font-family: 'Work Sans', sans-serif;
  font-size: 17px;
  line-height: 27px;
  color: #464547;
  text-align: center;
}

.authorimg {
  text-align: center;
}

#author {
  margin-top: 47px;
  margin-bottom: 21px;
  font-size: 32px;
}

.footer {
  margin: auto;
  margin-top: 223px;
  text-align: center;
}

.footerLine {
  border-top: 1px solid #2e2e2e;
  margin-bottom: 30px;
}

/* 1024px version */

@media only screen and (max-width: 1024px) {
  main{
    width: 912.575px;
    margin: 43px auto;
  }

  .logo {
    width: 119.305px;
    height: auto;
  }

  .header {
    margin: 0;
    width: 912.575px;
    margin-top: 310px;
    position: relative;
  }

  .headerImg {
    margin: 0 auto;
    width: 912.575px;
    height: auto;
  }

  .title {
    font-size: 67px;
    line-height: 71px;
    width: 613px;
  }

  .authorDate {
    margin-left: 135.722px;
  }

  .pull {
    margin-top: 106.4px;
    margin-left: 135.722px;
  }

  .quotation {
    font-size: 284px;
    margin-left: 58px;;
  }

  .image1 img {
    width: 556px;
    height: auto;
  }

  .image2 img {
    width: 806px;
    height: auto;
  }

  .authorimg {
    width: 328px;
  }

  .footerLogo {
    width: 132px;
    margin-bottom: -22px;
  }
}

/* 768px version */

@media only screen and (max-width: 768px) {
  main {
    width: 768px;
    margin: 25px auto;
  }

  .logo {
    margin-left: 32.7px;
    margin-bottom: -0px;
    width: 96px;
    height: auto;
  }

  .header {
    margin: 0;
    width: 768px;
    margin-top: 280px;
    position: relative;
  }

.headerImg {
    margin: 0 auto;
    width: 768px;
    height: auto;
  }

  .title {
    margin: 0;
    font-size: 53px;
    line-height: 56px;
    width: 477.826px;
    top: -208px;
    left: 84px;
    transform: none;
  }

  .authorDate {
    margin-left: 79px;
  }

  .pull {
    width: 551px;
    margin-top: 106.4px;
    margin-left: 79px;
    font-size: 32px;
  }

  .introtext {
    width: 609px;
  }

  .bodytext {
    width: 609px;
  }

  .pullquote {
    margin: 0;
    margin-top: 120px;
    margin-bottom: 60px;
  }
  .quotation {
    font-size: 229px;
    margin-left: 50px;
  }

  .quote {
    font-size: 43px;
    line-height: 58px;
    width: 581px;
    margin-top: -205px;
  }

  .image1 img {
    width: 555px;
    height: auto;
  }

  .image2 img {
    width: 768px;
    height: auto;
  }

  .authorimg {
    width: 311px;
  }

  .footerLogo {
    width: 110px;
    margin-bottom: 0px;
  }
}


/* 320px version */
@media only screen and (max-width: 452px) {
  main {
    width: 320px;
    margin: 10px auto;
  }

  .logo {
    margin-left: 10px;
    margin-bottom: -10px;
    width: 53px;
    height: auto;
  }

  .header {
    margin: 0;
    width: 320px;
    margin-top: 160px;
    position: relative;
  }

.headerImg {
    margin: 0 auto;
    width: 320px;
    height: auto;
  }

  .title {
    margin: 0;
    font-size: 25.39px;
    line-height: 26.81px;
    width: 230.574px;
    top: -100px;
    left: 25px;
    transform: none;
  }

  .authorDate {
    margin: 0 auto;
    margin-top: 40px;
    margin-left: 25px;
    font-size: 9.55px;
  }

  .pull {
    width: 255px;
    margin-top: 37px;
    margin-left: 25px;
    font-size: 19px;
  }

  .introtext {
    margin-top: 50.6px;
    width: 289px;
    font-size: 14px;
    line-height: 22px;
  }

  .dropcap {
    font-family: 'Playfair Display', serif;
    color: #2e2e2e;
    float: left;
    font-size: 105px;
    line-height: 75px;
    padding-top: -35px;
    padding-left: 3px;
    padding-right: 8px;
    padding-bottom: 5px;
 }

  .bodytext {
    font-size: 14px;
    line-height: 22px;
    width: 289px;
  }

  .pullquote {
    margin: 0;
    margin-top: 140px;
    margin-bottom: 40px;

  }
  .quotation {
    font-size: 105px;
    margin-left: 14px;
  }

  .quote {
    font-size: 19px;
    line-height: 25px;
    width: 257px;
    margin-top: -93px;
  }

  .image1 img {
    width: 320px;
    height: auto;
  }

  .image2 img {
    width: 320px;
    height: auto;
  }

  .authorFooter {
    margin: 0 auto;
    width: 263px;
    margin-top: 106px;
    font-size: 17px;
    line-height: 27px;
    color: #464547;
    text-align: center;
  }
#author {
  margin: 0 auto;
  margin-bottom: 11px;
}

#authorBio {
  font-size: 9.81px;
  line-height: 15px;
}

  .authorimg {
    margin-bottom: 24px;
    width: 159px;
    height: auto;
  }

  .footer {
    margin: 0 auto;
    margin-top: 113px;
  }

  .footerLine {
    margin-bottom: 10;
  }

  .footerLogo {
    margin: 0 auto;
    width: 56px;
    margin-bottom: 10px;
  }
}
