/* 1440px version */

main {
  width: 1299.441px;
  margin: 76px auto;
}

.header {
  width: 1284.83px;
  margin-top: 400px;
  margin-left: 15px;
  position: relative;
}

.title {
  width: 875px;
  position: absolute;
  top: -11.5%;
  left: -6%;
  transform: translate(19%, -50%);
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 94.7px;
  line-height: 100px;
  color: #2e2e2e;
}

.authorDate {
  margin-left: 331px;
  margin-top: 95px;
  font-family: 'Work Sans', sans-serif;
  font-size: 19px;
  color: #2e2e2e;
}

.pull {
  margin-left: 331px;
  margin-top: 106.4px;
  font-size: 34px;
  width: 590px;
  font-family: 'Playfair Display', serif;
  color: #2e2e2e;
}

.introtext {
  margin-left: 331px;
  margin-top: 139px;
  width: 638px;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  line-height: 27px;
  color: #464547;
}

.introtext p {
  margin-bottom: 40px;
}

.bodytext {
  margin-left: 331px;
  width: 638px;
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  line-height: 27px;
  color: #464547;
}

.dropcap {
  font-family: 'Playfair Display', serif;
  color: #2e2e2e;
  float: left;
  font-size: 130px;
  line-height: 90px;
  padding-top: -1px;
  padding-left: 3px;
  padding-right: 8px;
}

.bodytext p {
  margin-bottom: 40px;
}

 a {
  color: #4eaaaa;
    text-decoration: none;
    background-image: linear-gradient(#f1bdba, #f1bdba);
    background-position: 0% 104%;
    background-repeat: no-repeat;
    background-size: 0% 3px;
    transition: background-size .3s;
}

a:hover, a:focus {
    background-size: 100% 3px;
}

.quotation {
  font-family: 'Playfair Display', serif;
  color: #f1bdba;
  font-weight: bold;
  font-size: 284px;
  margin-bottom: -363px;
  margin-left: 246px;
}

.quote {
  margin: 0 auto;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size: 51.7px;
  line-height: 70px;
  width: 727.373px;
  color: #2e2e2e;
  margin-top: 108px;
  margin-bottom: 108px;
}

.image1 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:40px;
  width: 40%;
}

.image2 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-bottom: 40px;
}

/* @media only screen and (max-width: 490px) {
  body {
    background-color: #BEE7E8;
  }
    main{
      width: 85vw;
    }
    h1 {
      font-size: 4.5em;
    }

    h2, h3 {
      color: #0B3142;
    }
} */
