.normal{
  font-family: 'Roboto Condensed', sans-serif;
    background-color: #0080ff;
    color: white;
    font-size: 20px;
    width: 900px;
    margin: 50px 75px;
    }

.normal a {
    color: white;
    text-decoration: none;
    /* border-bottom: 2px solid white; */
    cursor: pointer;
    transition: color .2s ease;
  }

.normal a:hover {
    color: #B4B4B4;
  }

.alignment{
  margin-left: 50px;
}
h1{
  font-size: 95px;
  margin-bottom: -3px;
}

h2 {
    margin-bottom: -18px;
  }

  .break {
      margin-bottom: 2px;
    }


.btn2, .btn3, .btn4 {
  margin-top: 13px;
}

.btn1, .btn2, .btn3, .btn4 {
  cursor: pointer;
}

.btn1:hover, .btn2:hover, .btn3:hover, .btn4:hover {
  text-decoration: underline;
  }
  .content1, .content2, .content3, .content4 {
    margin-left: 20px;
    display: none;
  }

  /* .dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  } */

  /* .dropdown {
    position: relative;
    display: inline-block;
  } */

  /* .dropdown-content {
    display: none;
    position: absolute;
    background-color: red;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  } */

  /* .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {background-color: #f1f1f1}

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    /* background-color: #3e8e41; */



  .artboard {
    background-color: #F0F5F6;
    margin: 0 auto;
    text-align: center;
  }

.size1440, .size1280 {
  zoom: 80%;
  }

  .size1440 img{
    width: 1440px;
    height: auto;
  }

  .size1280 img {
    width: 1280px;
    height: auto;
  }

  .size768 img {
    width: 768px;
    height: auto;
  }

  .size320 img {
    width: 320px;
    height: auto;
  }
