body {
  font-family: 'Crimson Text', serif;
  font-size: 24px;
}

.intro{
  font-size: 1.6em;
}

div {
  width: 31.25%;

  margin: 50px auto;
}

h1{
  font-size: 4.2em;
  font-family: 'Oswald', sans-serif;

}
