

  body {
  margin: -100px -40px;
  padding: 0;
  width: 140%;
}

.normal {
  margin: 25px 50px;
  }

div {
  width: 100px;
  height: 100px;
  float: left;
  /* border opacity (0 to 1) */
}

.Pattern1 {
  background-color: #7A64C4;
}
.Pattern1 .first {
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-top: 110px solid #3DE9F6;
      margin: 0px 0px -10px;
    }

.Pattern1 .second {
width: 0;
height: 0;
border-top: 50px solid transparent;
border-right: 100px solid #F63D83;
border-bottom: 50px solid transparent;
opacity: .9;
margin: 0px -60px -20px;
}

.Pattern1 .third{
width: 0;
height: 0;
border-bottom: 100px solid #A53DF6;
border-left: 100px solid transparent;
margin: 0px -10px -94px;
}

.Pattern2 {
  background-color: #171518;
}

.Pattern2 .first{
  width: 0px;
height: 0px;
border-right: 50px solid transparent;
border-top: 50px solid yellow;
border-left: 50px solid yellow;
border-bottom: 50px solid yellow;
border-top-left-radius: 50px;
border-top-right-radius: 50px;
border-bottom-left-radius: 50px;
border-bottom-right-radius: 50px;
margin: 0px 30px 15px 50px;
}

.Pattern2 .second {
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  margin: 50px -60px 10px 0px;
}

.Pattern3 {
  background-color: #6A7174;
  margin: 0px;
  padding: 0;
  width: 140%;
}
.Pattern3 .first {
      width: 100px;
      height: 100px;
      background: #2C2223;
      transform: rotate(20deg);
      opacity: .80

}
.Pattern3 .second {
      width: 100px;
      height: 100px;
      background: #8BDBF0;
      transform: rotate(20deg);
      opacity: .95;
      padding-left: 25px;

    }

  .Pattern4 .first {
    width: 100px;
    height: 100px;
    background: #FFAFD4;
    border-radius: 50%;
    margin: -88px;
    opacity: .6;
  }

  .Pattern4 .second {
    width: 100px;
    height: 100px;
    background: #64DBFF;
    border-radius: 50%;
    margin: 30px;
  }

.Pattern5 {
  background-color: #570647;
  margin-top: -190px;
  margin-left: 15px;
  padding: 0;
  width: 140%;
}
  .Pattern5 .first {
    display: block;
    width: 106px;
    height: 170px;
    background-color: white;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    transform: rotate(25deg);
    margin-bottom: 20px;
  }

  .Pattern5 .second {
    display: block;
    width: 50px;
    height: 80px;
    background-color: white;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    margin-left: 20px;
    transform: rotate(45deg);
    opacity: .5;

  }
